<div class="col-md-4 col-md-offset-4">
<h1>Edit Group</h1> 
<hr>

<%= simple_form_for @group do |f| %>
    <div class="form-group">
        <%= f.input :title %>
        <%= f.input :description %>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
</div>
